@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --primary: 263 31% 15%;
  --primary-foreground: 0 0% 98%;
  --secondary: 240 3.7% 15.9%;
  --secondary-foreground: 0 0% 98%;
  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;
  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --ring: 240 5.9% 10%;
  --radius: 0.5rem;
  --mesh-red: 331 100% 50%;
  --mesh-purple: 0 100% 59%;
  --mesh-blue: 198 100% 50%;
  --mesh-orange: 34 100% 65%;
  --mesh-gradient: radial-gradient(at 38% 100%, hsla(var(--mesh-red)) 0px, transparent 40%), radial-gradient(at 97% 50%, hsla(var(--mesh-purple)) 0px, transparent 50%), radial-gradient(at 80% 130%, hsla(var(--mesh-blue)) 0px, transparent 50%), radial-gradient(at 20% 160%, hsla(var(--mesh-orange)) 0px, transparent 50%);
}

.mesh-gradient-center {
  position: relative;
  background: hsl(var(--background));
}

.mesh-gradient-center::after {
  content: '';
  position: absolute;
  top: 0;
  left: auto;
  width: 800px;
  height: 90%;
  z-index: 0;
  background-image: var(--mesh-gradient);
  filter: blur(100px);

}

.text-start {
  text-align: start;
}

.bg-repeat {
  background-repeat: repeat;
}

.bg-50 {
  background-size: 30px;
}

.bg-square-pattern {
  background-image: url(/square.svg);
  position: relative;
}

.bg-square-pattern::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    ellipse at center,
    transparent 0%,
    transparent 20%,
    rgba(255, 255, 255, 0.1) 40%,
    rgba(255, 255, 255, 0.3) 60%,
    rgba(255, 255, 255, 0.5) 80%,
    rgba(255, 255, 255, 0.8) 100%
  );
  pointer-events: none;
  z-index: 2;
}

.dark {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;
  --card: 222.2 84% 4.9%;
  --card-foreground: 210 40% 98%;
  --popover: 222.2 84% 4.9%;
  --popover-foreground: 210 40% 98%;
  --primary: 217.2 91.2% 59.8%;
  --primary-foreground: 222.2 84% 4.9%;
  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;
  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;
  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;
  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;
  --ring: 224.3 76.3% 94.1%;
  --mesh-red: 331 100% 40%;
  --mesh-purple: 0 100% 45%;
  --mesh-blue: 198 100% 40%;
  --mesh-orange: 34 100% 50%;
}

.dark .mesh-gradient-center {
  background: hsl(var(--background));
}

.dark .mesh-gradient-center::after {
  opacity: 0.5;
}

.dark .bg-square-pattern::before {
  background: radial-gradient(
    ellipse at center,
    transparent 0%,
    transparent 20%,
    rgba(34, 40, 49, 0.1) 40%,
    rgba(34, 40, 49, 0.3) 60%,
    rgba(34, 40, 49, 0.5) 80%,
    rgba(34, 40, 49, 0.8) 100%
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --mesh-red: 331 100% 40%;
    --mesh-purple: 0 100% 45%;
    --mesh-blue: 198 100% 40%;
    --mesh-orange: 34 100% 50%;
  }
}

.test h2{
  font-size: 20px;
  font-weight: 600;
}
